.btn-mine{
    margin:2rem 1rem auto auto;
}
.con-mine{
    padding: 0 15%;
}
h1{
    font-family:"Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}
.main-bar{
    padding: 1.5rem 1rem 2.5rem 1rem;
}
.main-links{
    position: relative;
    left: 1rem;
}
.nav-mine{
    margin: auto 1.5rem;
    font-family: "Montserrat";
}
.nav-mine-dow{
    margin-right: 0rem;
}
.phone-img{
    width: 21rem;
    margin:1rem 0.9375rem 3rem 1rem;
    position: relative;
    left: 2.4rem;
    -ms-transform: rotate(25deg); /* IE 9 */
    transform: rotate(25deg);
}
#title{
    background-color: #ff4c68;
    /* font-family: 'Montserrat', sans-serif; */
}
.tindog{
    font-family:"Ubuntu";
    font-size: 2rem;
    position: relative;
    right: 15px;
}


